<section class="bg-light py-4 my-5">
  <div class="container">
      <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-between">
              <h2 class="mb-3 text-dark">Products</h2>
              <div class="row">
                <div class="col-12 text-end" >
                  <a href="" class="text-end" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="bi bi-funnel" style="font-size:32px"></i>
                  </a>
                </div>
                <div class="collapse col-12" id="collapseExample">
                  <div class="card card-body border-0">
                    <form #filtered="ngForm" action="">
                      <div class="mb-3">
                        <label for="price" class="form-label">Price greater than</label>
                        <input type="number" required
                          class="form-control" name="great" id="price" aria-describedby="helpId" placeholder="0" [(ngModel)]="filter.greater">
                      </div>
                      <div class="mb-3">
                        <label for="price" class="form-label">and less than </label>
                        <input type="number" required
                          class="form-control" name="less" id="price" aria-describedby="helpId" placeholder="999999" [(ngModel)]="filter.lesser">
                      </div>
                      <button [disabled]="!filtered.valid" (click)="filterSubmit()" type="submit" class="btn btn-primary">Filter</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4" *ngFor="let product of search| slice: (pagination.page-1) * pagination.pageSize : pagination.page * pagination.pageSize">
              <div class="card my-3">
                  <div class="card-thumbnail">
                      <img [src]="product.image" class="img-fluid img-thumbnail" alt="thumbnail">
                  </div>
                  <div class="card-body">
                      <h3 class="card-title"><a class="text-secondary">{{product.name}}</a></h3>
                      <div class="card-text">Brand: {{product.brand}} <p>
                        Price: ₹{{product.price}}
                      </div>
                      <div class="d-flex justify-content-between">
                        <div>
                          <a [routerLink]="['/products/open/',product.id]" class="btn btn-danger"> Details</a>
                        </div>
                        <div>
                          <button class="btn btn-dark" (click)="addToCart(product)"><i class="bi bi-cart4" style="font-size: 16px;"></i> Add to cart</button>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
          <ngb-pagination class="d-flex justify-content-center"
            [(page)]="pagination.page"
            [pageSize]="pagination.pageSize"
            [maxSize]="5"
            [collectionSize]="search.length"
            [boundaryLinks]="true"
            [rotate]="true">
          </ngb-pagination>
      </div>
  </div>
</section>
