<div class="container mt-4 bg-white border border-2 p-3">
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill">{{cartItems.length}}</span>
      </h4>
      <ul class="list-group mb-3">
        <li *ngFor="let cart of cartItems" class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">{{cart.productname}}</h6>
            <div class="mb-3">
              <input type="number"
                  class="form-control form-control-sm" name="qty" id="" (change)="updatePrice(cart)" [(ngModel)]="cart.count" aria-describedby="helpId" placeholder="" style="width:60px">
            </div>
          </div>
          <span class="text-muted">{{cart.price * cart.count}}</span>
        </li>
        <li *ngIf="redeemStatus" class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>{{redeemValue}}</small>
          </div>
          <span class="text-success">-40%</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (INR)</span>
          <strong><button *ngIf="buttonToggle" class="btn btn-primary" (click)="total()">Get Price</button>
          <span *ngIf="!buttonToggle">
            {{cost}}
          </span>
        </strong>
        </li>
      </ul>
      <form #did="ngForm" class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code" name="redeem" [(ngModel)]="redeemValue">
          <button [disabled]="!redeemStatus1" type="submit" (click)="redeem()" class="btn btn-secondary">Redeem</button>
        </div>
      </form>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="" checked>
        <label class="form-check-label" for="">
          Checked checkbox
        </label>
      </div>
    </div>

    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Shipping address</h4>
      <form #loginForm="ngForm" (ngSubmit)="submit(loginForm)">
        <div class="row g-3">
          <div class="col-sm-6">
            <label for="firstName" class="form-label">First name</label>
            <input required name="fname" type="text" class="form-control" id="firstName" [(ngModel)]="validation.fname">
          </div>

          <div class="col-sm-6">
            <label for="lastName" class="form-label">Last name</label>
            <input required name="lname" type="text" class="form-control" id="lastName" [(ngModel)]="validation.lname">

          </div>

          <div class="col-12">
            <label for="email" class="form-label">Email <span class="text-muted">(Optional)</span></label>
            <input name="email" type="email" class="form-control" id="email" [(ngModel)]="validation.shipemail">
          </div>

          <div class="col-12">
            <label for="address" class="form-label">Address</label>
            <input required name="address" type="text" class="form-control" id="address" [(ngModel)]="validation.address1">
            <div class="invalid-feedback">
              Please enter your shipping address.
            </div>
          </div>

          <div class="col-12">
            <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
            <input type="text" name="optional" class="form-control" id="address2" [(ngModel)]="validation.address2">
          </div>

          <div class="col-md-5">
            <label for="country" class="form-label">Country</label>
            <select required class="form-select" name="country" id="country" [(ngModel)]="validation.country">
              <option value="">Choose...</option>
              <option>India</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>

          <div class="col-md-4">
            <label for="state" class="form-label">State</label>
            <select required name="state" class="form-select" id="state" [(ngModel)]="validation.state">
              <option value="">Choose...</option>
              <option>Kerala</option>
              <option>Tamil Nadu</option>
              <option >Karnataka</option>
            </select>
            <div class="invalid-feedback">
              Please provide a valid state.
            </div>
          </div>

          <div class="col-md-3">
            <label for="zip" class="form-label">Zip</label>
            <input required type="number" name="zip" class="form-control" id="zip" [(ngModel)]="validation.zip">
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <div class="form-check mt-3">
          <input class="form-check-input" name="check" type="checkbox" (change)="open()" [(ngModel)]="checkStatus" value="" id="check">
          <label class="form-check-label" for="check">
            Save shipping address
          </label>
        </div>
        <hr class="my-4">

        <h4 class="mb-3">Payment</h4>

        <div class="my-3">
          <div class="form-check">
            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" >
            <label class="form-check-label" for="credit">Credit card</label>
          </div>
          <div class="form-check">
            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" >
            <label class="form-check-label" for="debit">Debit card</label>
          </div>
        </div>

        <div class="row gy-3">
          <div class="col-md-6">
            <label for="cc-name" class="form-label">Name on card</label>
            <input required type="text" name="nameoncard" class="form-control" id="cc-name"  [(ngModel)]="rest.nameoncard">
            <small class="text-muted">Full name as displayed on card</small>

          </div>

          <div class="col-md-6">
            <label for="cc-number" class="form-label">Card number</label>
            <input required type="number" name="cardno" class="form-control" id="cc-number" [(ngModel)]="rest.cardno">

          </div>

          <div class="col-md-3">
            <label for="cc-cvv" class="form-label">CVV</label>
            <input required type="number" name="cvv" class="form-control" id="cc-cvv" [(ngModel)]="rest.cvv">

          </div>
        </div>

        <hr class="my-4">

        <button [disabled]="!(loginForm.valid) || (cost == 0)" class="w-100 btn btn-primary btn-lg" type="submit">Purchase!</button>
      </form>
    </div>
  </div>
</div>

